a {
  text-decoration: none;
}

.App {
  text-align: center;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-evenly;

}


/*Toggle button*/
  .toggle {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .toggle-button:focus {
    outline: none;
    pointer: cursor;
  }
  .burger-line {
    width: 30px;
    height: 2px;
    background: white;
  }
/*Toggle button*/


/*Sidedrawer*/
  .side-navbar {
    height: 100%;
    background-color: #5D636A;
    color: #4EABC6;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px; 
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  .side-navbar.open {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }
  .side-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: center;
  }
  .side-nav-item {
    padding: 5px;
    font-size: 28px;
  }

  
/*Sidedrawer*/


/*Backdrop*/
  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
  }
/*Backdrop*/

/*Navigation*/

.navbar {
  background-color: #5D636A;
  color: #4EABC6;
  width: 100%;
}
.nav-item {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}
.nav-item:hover {
  text-decoration: underline;
  
}
.welp-nav {
  font-family: 'Noto Sans', serif;
  font-weight: bold;
}
/*Navigation*/

/*Home*/
.home {
  background: url('img/waterBg.jpeg');
  position: relative;
  opacity: .70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  display: flex;
  align-items: center;
}
.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  letter-spacing: 4px;
  padding: 25px;
  color: #ddd;
  opacity: 1.0;
  width: 50%;
  height: auto;
  margin: auto;
  background-color: #333;
  font-family: 'Merriweather',sans-serif;
}
.welp {
  letter-spacing: 4px;
  font-size: 40px;
}
.welp-text {
  font-size: 22px;
}
/*Home*/

/*Location*/
.location-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location {
  padding: 10px;
  font-size: 22px;
  font-family: 'B612',serif;
  font-weight: bold;
}
.get-location {
  margin-left: 5px;
  height: auto;
  font-size: 16px;
  padding: 2px;
  font-family: 'B612',serif;
}
/*Location*/

/*User*/
.user {
  padding: 60px;
  border-bottom: 1px solid black;
  background-color: #4F7783;
}
.username {
  font-family: 'Merriweather',sans-serif;
}
.user-info {
  background-color: #333;
  color: white;
  padding: 10px 0px 10px 0px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}
.review-number {
  font-family: 'Noto Sans', serif;
  width: 25%;
  margin: auto;
}
.review-number:hover {
  font-weight: bold;
  text-decoration: underline;
}
/*User*/

/*Ratings*/
.restaurant-ratings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #5D636A;
}
.search-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5D636A;
  width: 100%;
  border: none;
}
.search {
  margin-top: 20px;
}
.go {
  margin-top: 20px;
  height: auto;
  font-size: 16px;
  padding: 2px 4px 2px 4px;
}

.rating {
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  font-family: "Merriweather", serif;
}
.card-img-top {
  width: 400px;
  height: 400px;
  margin: auto;
}
.score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: auto;
}
.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  font-weight: bold;
  color: #4EABC6;

}
/*Ratings*/

/*Media Queries*/
@media (max-width: 768px) {
  .nav-item {
    display: none;
  }

  .nav-item:hover {
    text-decoration: none;
  }
 /*User*/
 .review-number:hover {
  text-decoration: none;
  font-weight: normal;
 }
 /*User*/ 
/*Ratings*/
  .rating {
    width: 90%;
  }
  .card-img-top {
    width: 150px;
    height: 150px;
  }
/*Ratings*/
}

@media (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
  .side-navbar {
    display: none;
  }
}
/*Media Queries*/
